:root {
    --feher: #ffffff;
    --vilagos_szurke: #F2F2F2;
    --gomb_szurke:#B9B9B9;
    --szurke: #707070;
    --sotet_szurke: #4A4A4A;
    --pink: #E6426E;
    --vilagos_pink: #E6426E57;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

h1 {
    color: var(--sotet_szurke);
    font-size: 24px;
}

h5 {
    font-weight: 700;
}

.hide{
    display: none;
}

body{background-color: var(--feher);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

#header_1sor{
    background-color: var(--vilagos_szurke);
    padding-top: 20px;
    padding-bottom: 20px;
}
.eltunik {
    margin-left: 10px;
    font-weight:normal;
}
#header_1sor p {
    font-size: 1rem;
    float: left;
    color: var(--pink);
    font-weight: bold;
}

hr{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#navigacio {
    margin-top: 20px;
}
#navigacio a {
    color: var(--pink);
    font-weight: bold;
}

#btn-valaszt {
    width: 200px;;
    border-radius: 45px;
    background-color: var(--feher);
    box-shadow:none;
    color: var(--pink);
}
#btn-valaszt :hover {
    background-color: var(--feher);
    color: var(--szurke);
}

.btn {
    border-radius: 45px;
    background-color: var(--pink);
    box-shadow: 5px 5px 30px 0px var(--vilagos_pink);
    color: var(--feher);
}

.btn:hover,:focus {
    background-color: var(--gomb_szurke)  ;
    color: var(--feher);
    box-shadow: 5px 5px 20px #9F9F9F48;

}

#hirek-slide{
    margin-bottom: 40px;
}

.card  {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

#valaszdki{
    margin-top: 20px;
    background-color: var(--pink);
    padding-top: 20px;
    padding-bottom: 20px;
}

#valaszdki h1 {
    color: white;
    text-align: center;
}

#valaszdki h2 {
    color: var(--sotet_szurke);
    font-size: 7rem;
    opacity: 0.5;
}

.valaszt{
     font-family: 'Font Awesome 5 Free';
    font-weight: 700;
 
     border-radius: 20px;
    width: 20%;
    padding:15px;
    margin-right: 20px;
    background-color: white;
}
.valaszt h3 {
    color: var(--pink);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


#hogyan{
    margin-top: 20px;
}

.svgimg{
    text-align: center;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    color: var(--pink);
}

#bestszakik {
    background-color: var(--vilagos_szurke);
    margin-top: 40px;
    padding-top: 20px;;
    padding-bottom: 15px;
}

.card-best{
    background-color: white;
    border-radius: 20px;
}

.card-best img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid var(--pink);
    border-radius: 50%;

}
#address{
    padding-top: 10px;
    padding-right: 20px;
    text-align: end;
    line-height: 0.5ren;
}

#klinika-2, #klinika-3, #klinika-3,#klinika-4, #klinika-5{
    display: none;
}

.g_karb {
    border: 1px solid;
    border-color: var(--pink);
    color: var(--sotet_szurke);
    border-radius: 50%;
    max-width: 28px;
    text-align: center;
    padding: 2px;
    display: block;
}

#ertekel{
    padding-top: 10px;
    padding-right: 20px;
    text-align: end;
    line-height: 0.5ren;
}

.slide-img{
    height: 30px;
    float: left;
    margin-right: 40px;
}

#footer_vc{
    background-color: var(--sotet_szurke);
}


@media screen and (max-width :576px) {
    #header_1sor img {
        max-width: 150%;
        padding-bottom: 20px;
    }
    #header_1sor p {
        font-size: 0.8rem;
    }

    .eltunik{
        display: none;
    }

    .elvalaszto span{
        color:#B9B9B9;
        padding-left: 2px;
        padding-right: 5px;
    }

    #gombok {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--feher);
    }

}
@media (max-width :768px) {
 
}
@media (max-width :992px) {
    p {
        font-size: 0.75rem;
    }
}

.grid-container{
    text-align: center;
    color: white;
    background-color: var(--pink);

    width: auto;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    align-items: center;
}
.d1{
    grid-row: 1/2;
    grid-column: 1/6;
}
.d2{
    grid-row: 2/3;
    grid-column: 1/6;
}
.d3{
    grid-row: 3/4;
    grid-column: 1/6;
}