@font-face {
    font-family: "Helvetica Neue";
    src: url("https://fonts.google.com/?query=helvetica") format("woff");
}
:root {
    --feher: #ffffff;
    --vilagos_szurke: #F2F2F2;
    --gomb_szurke:#B9B9B9;
    --szurke: #707070;
    --sotet_szurke: #4A4A4A;
    --pink: #E6426E;
    --vilagos_pink: #E6426E57;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

body{background-color: var(--feher);}

#header_1sor{
    background-color: var(--vilagos_szurke);
    padding-top: 20px;
    padding-bottom: 20px;
}
.eltunik {
    margin-left: 10px;
    font-weight:normal;
}
#header_1sor p {
    font-size: 1rem;
    float: left;
    color: var(--pink);
    font-weight: bold;
}


#navigacio {
    margin-top: 20px;
}
#navigacio a {
    color: var(--pink);
    font-weight: bold;
}

.btn {
    border-radius: 45px;
    background-color: var(--pink);
    box-shadow: 5px 5px 30px 0px var(--vilagos_pink);
    color: var(--feher);
}

.btn:hover,:focus {
    background-color: var(--gomb_szurke)  ;
    color: var(--feher);
    box-shadow: 5px 5px 20px #9F9F9F48;

}

@media screen and (max-width :576px) {
    #header_1sor img {
        max-width: 150%;
        padding-bottom: 20px;
    }
    #header_1sor p {
        font-size: 0.8rem;
    }

    .eltunik{
        display: none;
    }

    .elvalaszto span{
        color:#B9B9B9;
        padding-left: 2px;
        padding-right: 5px;
    }

    #gombok {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--feher);
    }

}
@media (max-width :768px) {
 
}
@media (max-width :992px) {
    p {
        font-size: 0.75rem;
    }
}