:root{
    --feher: #ffffff;
    --vilagos_szurke: #F2F2F2;
    --gomb_szurke:#B9B9B9;
    --szurke: #707070;
    --sotet_szurke: #4A4A4A;
    --pink: #E6426E;
    --vilagos_pink: #E6426E57;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

h1 {
    color: var(--sotet_szurke);
    font-size: 24px;
}
a {
    text-decoration: none;
    color: var(--sotet_szurke);
}

#wrapper_main{
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto,100px) 1fr minmax(auto, 200px);
}

#header_vc{
    grid-column: 1/end;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(auto,100px);
    align-items: center;
}
        #logodiv{
            grid-column: 1/2;
            grid-row: 1/end;
            justify-self: center;
        }
        #kontaktok{
            display: flex;
            grid-column: 2/3;
            grid-row: 1/end;
            justify-self: end;
        }
        #gomb_kilep{
            grid-column: 3/end;
            grid-row: 1/end;
            max-height: 40px;
            max-width: 130px;
            justify-self: center;
        }

#wrapper{
/*     width: 95%; */
    grid-column: 1/end;
    grid-row: 2/3;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(1fr,auto);
    grid-template-areas: 
        "menu_oldal session";
    grid-gap: 20px;
}

#menu_oldal{
    display: grid;
    grid-area: menu_oldal;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 50px);
    grid-gap: 10px;
    background-color: var(--vilagos_szurke);
    padding: 50px;
}

#session{
    display: grid;
    grid-area: session;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px 1fr auto;
    grid-gap: 5px;
}
#sess_cim{
    grid-area: sess_desc;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
#sess_desc{
    grid-area: sess_desc;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 2/3;

}
#sess_torzs{
    grid-area: sess_desc;
    grid-column: 1/2;
    grid-row: 3/end;
    grid-row-gap: 25px;
}
footer{
    grid-column: 1/end;
    grid-row: 3/end;
}

.menu{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    border-radius: 45px;
    background-color: var(--pink);
    box-shadow:  3px 3px 10px var(--szurke);    
}
.menu p{
    font-size: 1em;
}
.menu a{
    color: var(--vilagos_szurke);
    text-decoration: none;
    font-size: 1em;
}
menu a:link, menu a:visited{
    color: var(--vilagos_szurke);
}
menu a:hover{
    color: var(--sotet_szurke);
}
menu a:active{
    color: var(--sotet_szurke);
}

.menu:hover{
    cursor: pointer;
    opacity: 0.7;
    color: var(--sotet-szurke);
    font-weight: 700;
}
.aktiv{
    background-color: var(--vilagos_szurke);
    color: var(--sotet_szurke);
    font-weight: 700;
}
.hide{
    display: none;
}

.btn {
    border-radius: 45px;
    background-color: var(--pink);
    box-shadow: 5px 5px 30px 0px var(--vilagos_pink);
    color: var(--feher);
}

.btn:hover,:focus {
    background-color: var(--gomb_szurke)  ;
    color: var(--feher);
    box-shadow: 5px 5px 20px #9F9F9F48;

}
