:root{
    --feher: #ffffff;
    --vilagos_szurke: #F2F2F2;
    --gomb_szurke:#B9B9B9;
    --szurke: #707070;
    --sotet_szurke: #4A4A4A;
    --pink: #E6426E;
    --vilagos_pink: #E6426E57;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

h1 {
    color: var(--sotet_szurke);
    font-size: 24px;
}


#sess_torzs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(auto, 200px) auto;
}
#gombok{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}
        #o_db{
            grid-column: 1/2;
            grid-row: 1;
            justify-self: center;
        }
        #k_db{
            grid-column: 2/3;
            grid-row: 1;
            justify-self: center;
        }
    
#showData_div{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    overflow-y:scroll;
}

#ok_card{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 25px;
    justify-self: center;
    border-radius: 25px;
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px 30px repeat(4,40px);
    box-shadow: 7px 7px 20px #f0f0f3;
    padding: 20px;
    grid-gap: 20px;
}
        #o_nev{
            grid-column: 1/4;
            grid-row: 1/2;
            justify-self: center;
            text-align: center;
            font-size: 1.5rem;        
        }
        #o_id{
            grid-column: 1/4;
            grid-row: 2/3;
            justify-self: center;
        }
        #o_irsz{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        #o_varos{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        #o_utca{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        #o_telefon{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        #o_email{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        #o_kapcs{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        #o_status{
            grid-column: 1/4;
            grid-row: 5/6;
            justify-self: center;
            text-align: center;
            color: var(--pink);
            font-weight: 700;
            font-size: 1.2rem;
        }
        #btn_rog{
            grid-column: 1/2;
            grid-row: 6/7;
            align-self: center;
        }
        #btn_del{
            grid-column: 3/4;
            grid-row: 6/7;
            align-self: center;
        }

.form-control {
    border-radius: 45px;
    color: var(--fekete);
    box-shadow: -7px -7px 20px #f0f0f3;
}